.left-scrn {}

.left-scrn ul {
}

.left-scrn ul li {}

.right-scrn {}

.right-scrn ul {}

.right-scrn ul li {}

.button {}

.button #blue {}

nav {
}

main {}

.content {}

#logo {}

#search {}

#search textarea {
    position: absolute;
    width: 600px;
    height: 50px;
    right: 50%;
}

#icons {
    position: absolute;
    width: 600px;
    height: 50px;
    right: 50%;
    z-index: 1;
}

#icons img {}

#left-icon {
    height: 35px;
    width: 40px;
    position: absolute;
    left: 0;
}

#right-icon {
    height: 40px;
    width: 45px;
    position: absolute;
    right: 0;  
}


footer {
  position: fixed;
  bottom: 0;    
}

