.left-scrn {
    float: left;
}

.left-scrn ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.left-scrn ul li {
  float: left;
  display: block;
  padding: 8px;
}

.right-scrn {
  float: right;
}

.right-scrn ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.right-scrn ul li {
 float: left;
  display: block;
  padding: 8px;
}

.button {}

.button #blue {}

nav {
}

main {
  clear: both; 
  margin: auto;
  width: 50%; 
  border: 1px solid black;
  overflow: auto;
}

.content {
    height: 500px;
    width: 70%; 
    border: 1px solid black;
    margin: auto;  
}

#logo {
    border: 1px solid green;
    width: 272px;
    height: 92px;
    margin: auto;
}
   
#search {
    border: 1px solid black;
}

#search textarea {
    width: 100%;
    border-radius: 5px;
}

#search-buttons {
    border: 1px solid blue;
    width: 50%;
    margin: auto;
}

#icons {
    z-index: 1;
}

#icons img {}

#left-icon {
    height: 35px;
    width: 40px;
}

#right-icon {
    height: 40px;
    width: 45px; 
}


footer {


